
    .Home {
        padding: 280px 0;
        background: url(../img/loginscreen2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0%;
        height: 100%; 
        overflow: hidden;
      }
    