
    .Login {
      padding: 280px 0;
      background: url(../img/loginscreen2.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0%;
      height: 100%; 
      overflow: hidden;
    }
  
   
    #uname{
        
    
        position:relative;
        transition: .5s ease;
        top: 191px;
        left: 420px;
        right: -420px;
        bottom: -191px;
    }

    #pass{
        position:relative;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
    
    }

    #button{
        position:relative;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
    
    }


  